.AddContactForm{
 display: inline-grid ;
 width: 50%;
 margin-left: 10%;
}
.AddContactForm input{
    padding: 10px;
    margin-top: 10px;
}
.AddContactForm button{
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
}