.addContact-btn{
    margin-top: -10%;
    margin-left: 50%;
    padding: 10px;
    font-weight: bold;
}
.AddContactLink{
    text-decoration: none;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    color: black;
}
.AddContactLink:hover{
    color: yellowgreen;
    font-weight: bold;
}