.Backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backgroundColor: 'rgba(0,0,0,0.3)';
    padding: 50px;
}
.Modal{
    backgroundColor: '#fff';
    borderRadius: 5px;
    maxWidth: 500px;
    minHeight: 300px;
    margin: 0 auto;
    padding: 30px;
}