
.ContactCard{
    width: 70%;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
}
.PersonPhoto{
    margin-top: 5px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}